.button {
  background-color: #121212;
  color: #34C94B;
  border-radius: 12px;
  padding: 10px 16px;
  width: 170px;
  height: 47px;
  border: 1px solid black;
  font-family: poppins;
  font-size: 18px;
  cursor: pointer;
}