:root {
  --primary-color: #34c94b;
  --background-color: #000000;
}

.button {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}
