.searchContainer {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.7;
}

.searchInput {
  width: 100%;
  padding: 8px 16px 8px 40px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.searchInput:focus {
  border-color: #34c94b;
}
